@import './transition.scss';

body {
  /*去除与浏览器的空白边距*/
  padding: 0px;
  margin: 0px;
  height: 100%;
  /*抗锯齿*/
  -moz-osx-font-smoothing: grayscale;/*firefox*/
  -webkit-font-smoothing: antialiased;/*chrome、safari*/
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}