<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimzing.user.repository.car.CarMapper">

    <insert id="insertCarList"></insert>
    <update id="updateCarListByUserId"></update>
    <delete id="deleteByUserId"></delete>
</mapper>
